body {
  font-family: Google Sans, arial, sans-serif !important;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin-left: 5px;
  padding: 0;
}
hr {
  color: #a9a9aa;
}
#bottom-bar {
  margin-bottom: 30px;
}
h1 {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.input-group {
  margin-bottom: 30px;
}
.weather-frame {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
}

#weatherIcon {
  display: inline-block;
  vertical-align: top;
  height: 60px;
  margin-top: unset;
  width: 60px;
  padding-top: 0;
}
#temperature {
  color: #202124;
  line-height: 60px;
  vertical-align: top;
  font-size: 48px;
  margin-right: 0px;
  padding-right: 0px;
}
.units {
  display: inline-block;
  line-height: 24px;
  vertical-align: top;
  font-size: 16px;
  margin-top: 6px;
  position: relative;
  left: -5px;
}
#toCelcius:hover,
#toCelcius:visited,
#toCelcius:link,
#toFarenheit:hover,
#toFarenheit:visited,
#toFarenheit:link {
  text-decoration: none;
  color: #202124;
}

.weather-details {
  color: #70757a;
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  padding-left: 0px;
  padding-top: 6px;
  text-indent: 0px;
}
.second-col {
  display: block;
  text-align: right;
}

#city {
  color: #202124;
  font-size: 22px;
  line-height: 26px;
}
.locale-descriptor {
  color: #70757a;
  font-size: 16px;
  line-height: 20px;
}

.weather-forecast {
  text-align: center;
  margin-top: 20px;
}
.forecast-day-of-week {
  color: #bababa;
  line-height: 15px;
  padding-top: 7px;
}
.forecast-icon {
  height: 48px;
  margin: 1px 4px 0;
  width: 48px;
}
.source-author {
  font-family: monospace;
}
.forecast-temp {
  font-size: 13px;
  font-weight: normal;
  line-height: 15px;
}

.forecast-high {
  color: #70757a !important;
}
.forecast-low {
  color: #bababa;
}
